# Split Star Wars dataset into train, validation, test datasets

## Import Libraires

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Load data

In [2]:
df = pd.read_csv("data/star_wars_dataset.csv")
df.head()

                                                text
0  ?THE STAR WARS? From The Adventures of Luke St...
1  and in the time of greatest despair, there sha...
2  " Journal of the Whills, 3:127 "THE STAR WARS"...
3  SPACE 1 A vast sea of star serves as the backd...
4  Ruthless trader barons, driven by greed and th...

In [3]:
df.shape

(28246, 1)

## Process train-test-split

In [4]:
train_data, test_data = train_test_split(df, test_size=0.1, random_state=42)

In [5]:
train_data, val_data = train_test_split(train_data, test_size=0.1, random_state=42)

In [6]:
print(f"Training Set Shape: {train_data.shape}")
print(f"Validation Set Shape: {val_data.shape}")
print(f"Test Set Shape: {test_data.shape}")

Training Set Shape: (22878, 1)
Validation Set Shape: (2543, 1)
Test Set Shape: (2825, 1)

In [8]:
train_data.to_csv("data/star_wars_train_80.csv", index=False)
val_data.to_csv("data/star_wars_val_10.csv", index=False)
test_data.to_csv("data/star_wars_test_10.csv", index=False)