# Split Star Wars dataset into train, validation, test datasets

## Import Libraires

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Load data

In [4]:
df = pd.read_csv("data/star_wars_dataset.csv")
df.head()

                            text
0                ?THE STAR WARS?
1                       From The
2  Adventures of Luke Starkiller
3                             By
4                   George Lucas

In [5]:
df.shape

(36457, 1)

## Process train-test-split

In [6]:
train_data, test_data = train_test_split(df, test_size=0.1, random_state=42)

In [7]:
train_data, val_data = train_test_split(train_data, test_size=0.1, random_state=42)

In [8]:
print(f"Training Set Shape: {train_data.shape}")
print(f"Validation Set Shape: {val_data.shape}")
print(f"Test Set Shape: {test_data.shape}")

Training Set Shape: (29529, 1)
Validation Set Shape: (3282, 1)
Test Set Shape: (3646, 1)

In [10]:
train_data.to_csv("data/star_wars_train_80.csv.csv", index=False)
val_data.to_csv("data/star_wars_val_10.csv.csv", index=False)
test_data.to_csv("data/star_wars_test_10.csv.csv", index=False)